.icons
  &--pie
    bg($pie)
  &--years
    bg($years)
  &--basket
    bg($basket)
  &--delivery
    width 23px
    height 23px
    .delivery
      width 23px
      height 23px
      
      fill #59b921
  &--tel
    width 15px
    height 15px
    .tel
      width 15px
      height 15px
      
      fill #444444
  &--burger
    width 27px
    height 27px
    .burger
      width 27px
      height 27px
      
      fill #ffffff
  &--meat
    width 32px
    height 32px
    margin-right 10px
  
  &--ml-a
    margin-left auto
  &--mr20
    margin-right 20px
  &--mr15
    margin-right 15px
    
  &--pie-footer
    bg($pie-footer)
    
  &--tel-fill-white
    .tel
      fill #ffffff
      
@media(max-width 1570px)
  .icons
    &--meat
      width 21px
      height 21px
      
@media(max-width 1199px)
  .icons
    &--basket
      bg($basket-media1199)
      
@media(max-width 1199px)
  .icons
    &--basket
      display none
      
@media(max-width 768px)
  .icons
    &--basket
      display block
      margin-right 20px
  