.list
  reset-list()
  &--items-mb15
    margin-bottom 15px
    &:last-child
      margin-bottom 0
  &--items-mb5
    margin-bottom 5px
    &:last-child
      margin-bottom 0
      
  &--items-mr-resize6
    margin-right 6%
    &:last-child
      margin-right 0