.m
  &--t-a
    margin-top auto
  
  &--b40
    margin-bottom 40px
  &--b30
    margin-bottom 30px
  &--b25
    margin-bottom 25px
  &--b20
    margin-bottom 20px
  &--b15
    margin-bottom 15px
  &--b10
    margin-bottom 10px
  &--b5
    margin-bottom 5px
    
@media(max-width 620px)
  .m
    &--b40-media620-b0
      margin-bottom 0