.text
  reset()
  
  text-decoration none
  &--fw800
    font-weight 800
  &--fw600
    font-weight 600
  &--fw300
    font-weight 300
    
  &--center
    text-align center
  &--right
    text-align right
  
  &--uppercase
    text-transform uppercase
  &--td-none
    text-decoration none